flows.json
[{"id":"cde10b03.646e38","type":"tab","label":"Weather Outside","disabled":false,"info":""},{"id":"310a9885.31aea8","type":"tab","label":"Sala 1 - Received Data","disabled":false,"info":""},{"id":"2d6623ca.88a23c","type":"tab","label":"Sala 1 - Conditioner Control","disabled":false,"info":""},{"id":"c519db9d.a65dd8","type":"tab","label":"Sala 1 - Post Data","disabled":false,"info":""},{"id":"898200f5.f78fc","type":"tab","label":"Post to Thingsboard","disabled":false,"info":""},{"id":"cf24902f.d3955","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cbe9f78c.010038","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"96bb34cc.9bf298","type":"ui_group","z":"","name":"Temperature","tab":"9cd8c8d7.64f1d8","disp":true,"width":"6"},{"id":"a464d5f5.b34c68","type":"ui_group","z":"","name":"Potencia","tab":"9cd8c8d7.64f1d8","order":2,"disp":true,"width":"6"},{"id":"daf649eb.48aac8","type":"mqtt-broker","z":"","broker":"35.199.71.59","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9cd8c8d7.64f1d8","type":"ui_tab","z":"","name":"uControl","icon":"dashboard"},{"id":"23e2e89f.af8e48","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f8cfae9e.f4ace","type":"mqtt in","z":"310a9885.31aea8","name":"Sala 1 - Temperatura","topic":"/ucc/infrared/sensor1/temp","qos":"2","broker":"cbe9f78c.010038","x":120,"y":140,"wires":[["76f50cc9.ca30d4"]]},{"id":"a2eebb88.e43458","type":"debug","z":"310a9885.31aea8","name":"Debug","active":false,"console":"false","complete":"payload","x":472.0001678466797,"y":104.33339977264404,"wires":[]},{"id":"edd18d35.6250f","type":"mqtt in","z":"310a9885.31aea8","name":"Sala 1 - Humidade","topic":"/ucc/infrared/sensor1/humi","qos":"2","broker":"cbe9f78c.010038","x":110.83329772949219,"y":189.6666488647461,"wires":[["5fe4e3f5.d7fbcc"]]},{"id":"dec37b12.ee9ed8","type":"debug","z":"310a9885.31aea8","name":"Debug","active":false,"console":"false","complete":"payload","x":474.8333930969238,"y":189.00003814697266,"wires":[]},{"id":"680dad18.8b8034","type":"mqtt in","z":"310a9885.31aea8","name":"Sala 1 - IR Feedback","topic":"/ucc/infrared/sensor1/IRSend","qos":"2","broker":"cbe9f78c.010038","x":118.83329391479492,"y":71.66666221618652,"wires":[["3deef16b.32e8ee"]]},{"id":"3deef16b.32e8ee","type":"debug","z":"310a9885.31aea8","name":"Debug","active":false,"console":"false","complete":"payload","x":472.83338928222656,"y":71.00005149841309,"wires":[]},{"id":"76f50cc9.ca30d4","type":"function","z":"310a9885.31aea8","name":"Sala1_temp","func":"context.global.Sala1_temp = parseInt(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":323.9999694824219,"y":139.6666374206543,"wires":[["3d464b26.03b024","a2eebb88.e43458"]]},{"id":"5fe4e3f5.d7fbcc","type":"function","z":"310a9885.31aea8","name":"Sala1_humi","func":"context.global.Sala1_humi = parseInt(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":322.8332824707031,"y":189.6666374206543,"wires":[["dec37b12.ee9ed8"]]},{"id":"61817f13.56c1","type":"comment","z":"310a9885.31aea8","name":"ATTENTION - Data Received from Sala 1 - Ctrl Energy","info":"","x":750.8331909179688,"y":374.66657733917236,"wires":[]},{"id":"ab64f350.045a3","type":"mqtt in","z":"310a9885.31aea8","name":"Sala 1","topic":"/ucc/sala1/cond1/current1","qos":"2","broker":"cbe9f78c.010038","x":72.66659927368164,"y":280.6667366027832,"wires":[["733fea87.345d84","da1aecd.3c5171"]]},{"id":"2f38bae9.7bef66","type":"function","z":"310a9885.31aea8","name":"Cond 1 - Fase 1 ","func":"current_Conditioner1 = parseFloat(msg.payload);\ncontext.global.Sala1_Cond1_Fase1 = Math.abs(current_Conditioner1);\ncontext.global.Sala1_Cond1_Power_Fase1 = (context.global.Sala1_Cond1_Fase1*context.global.sala1_defvoltage);\nif (context.global.Sala1_Cond1_Power_Fase1 <= 35) \n{\n   context.global.Sala1_Cond1_Power_Fase1 = 0;\n   msg.payload = context.global.Sala1_Cond1_Power_Fase1;\n}\nelse {\n      msg.payload = parseFloat(context.global.Sala1_Cond1_Power_Fase1).toFixed( 2 );\n     }\n\nreturn msg;","outputs":1,"noerr":0,"x":422.66674041748047,"y":281.6669216156006,"wires":[["39697fb3.670e8"]]},{"id":"58b4d0ca.b2a4e","type":"mqtt in","z":"310a9885.31aea8","name":"Sala 1 ","topic":"/ucc/sala1/cond1/current2","qos":"2","broker":"cbe9f78c.010038","x":73.66653442382812,"y":330.6665153503418,"wires":[["733fea87.345d84","b9df33a5.00657"]]},{"id":"8e4fbc6.20c054","type":"function","z":"310a9885.31aea8","name":"Cond 1 - Fase 2","func":"current_Conditioner1 = parseFloat(msg.payload);\ncontext.global.Sala1_Cond1_Fase2 = Math.abs(current_Conditioner1);\ncontext.global.Sala1_Cond1_Power_Fase2 = (context.global.Sala1_Cond1_Fase2*context.global.sala1_defvoltage);\nif (context.global.Sala1_Cond1_Power_Fase2 <= 35) \n{\n   context.global.Sala1_Cond1_Power_Fase2 = 0;\n   msg.payload = context.global.Sala1_Cond1_Power_Fase2;\n}\nelse {\n   msg.payload = parseFloat(context.global.Sala1_Cond1_Power_Fase2).toFixed( 2 );\n      }\nreturn msg;","outputs":1,"noerr":0,"x":422.6667022705078,"y":331.6668014526367,"wires":[["3c083366.0cb38c"]]},{"id":"3d464b26.03b024","type":"ui_chart","z":"310a9885.31aea8","name":"Sala 1 - Temperatura","group":"96bb34cc.9bf298","order":0,"width":0,"height":0,"label":"Sala 1 ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":523.9999580383301,"y":139.66662406921387,"wires":[[],[]]},{"id":"733fea87.345d84","type":"debug","z":"310a9885.31aea8","name":"Potencia em Watts","active":true,"console":"false","complete":"payload","x":268.6673126220703,"y":236.66705894470215,"wires":[]},{"id":"6423216d.85f5f","type":"function","z":"310a9885.31aea8","name":"Cond 1 - Fase 3","func":"current_Conditioner1 = parseFloat(msg.payload);\ncontext.global.Sala1_Cond1_Fase3 = Math.abs(current_Conditioner1);\ncontext.global.Sala1_Cond1_Power_Fase3 = (context.global.Sala1_Cond1_Fase3*context.global.sala1_defvoltage);\nif (context.global.Sala1_Cond1_Power_Fase3 <= 35) \n{\n   context.global.Sala1_Cond1_Power_Fase3 = 0;\n   msg.payload = context.global.Sala1_Cond1_Power_Fase3;\n}\nelse {\n   msg.payload = parseFloat(context.global.Sala1_Cond1_Power_Fase3).toFixed( 2 );\n     }\nreturn msg;","outputs":1,"noerr":0,"x":423.6668014526367,"y":376.6669464111328,"wires":[["23e688c1.7f3b48"]]},{"id":"a7569839.bb01d8","type":"mqtt in","z":"310a9885.31aea8","name":"Sala 1 ","topic":"/ucc/sala1/cond1/current3","qos":"2","broker":"cbe9f78c.010038","x":73.66656112670898,"y":375.6666555404663,"wires":[["733fea87.345d84","ea2c0283.1c516"]]},{"id":"39697fb3.670e8","type":"ui_gauge","z":"310a9885.31aea8","name":"Potencia Sala1 Cond 1 Fase 1","group":"a464d5f5.b34c68","order":0,"width":0,"height":0,"gtype":"gage","title":"Sala 1 Condicionador 1 Fase 1","label":"Watts","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":679.0001373291016,"y":237.33344078063965,"wires":[]},{"id":"3c083366.0cb38c","type":"ui_gauge","z":"310a9885.31aea8","name":"Potencia Sala1 Cond 1 Fase 2","group":"a464d5f5.b34c68","order":0,"width":0,"height":0,"gtype":"gage","title":"Sala 1 Condicionador 1 Fase 2","label":"Watts","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":679.8333511352539,"y":279.6667184829712,"wires":[]},{"id":"23e688c1.7f3b48","type":"ui_gauge","z":"310a9885.31aea8","name":"Potencia Sala1 Cond 1 Fase 3","group":"a464d5f5.b34c68","order":0,"width":0,"height":0,"gtype":"gage","title":"Sala 1 Condicionador 1 Fase 3","label":"Watts","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680.8333892822266,"y":322.6667594909668,"wires":[]},{"id":"da1aecd.3c5171","type":"rbe","z":"310a9885.31aea8","name":"Power Filter","func":"deadband","gap":"0.4","start":"","inout":"out","x":243.99994659423828,"y":281.6666250228882,"wires":[["2f38bae9.7bef66"]]},{"id":"b9df33a5.00657","type":"rbe","z":"310a9885.31aea8","name":"Power Filter","func":"deadband","gap":"0.4","start":"","inout":"out","x":244.8332290649414,"y":331.6666145324707,"wires":[["8e4fbc6.20c054"]]},{"id":"ea2c0283.1c516","type":"rbe","z":"310a9885.31aea8","name":"Power Filter","func":"deadband","gap":"0.4","start":"","inout":"out","x":244.8332290649414,"y":375.6666145324707,"wires":[["6423216d.85f5f"]]},{"id":"724ef27e.e537bc","type":"mqtt in","z":"310a9885.31aea8","name":"","topic":"sensor/ctrltemp001/setidle","qos":"2","broker":"daf649eb.48aac8","x":132.8332290649414,"y":505.0000524520874,"wires":[["78abbf6e.f0f3","cb947e22.3cd49"]]},{"id":"2d694f37.4269f","type":"mqtt in","z":"310a9885.31aea8","name":"","topic":"sensor/ctrlenergy001/defvoltage","qos":"2","broker":"daf649eb.48aac8","x":151.66653442382812,"y":661.6668100357056,"wires":[["7929d2a6.a3bc7c","9995135a.4febe"]]},{"id":"3b5692f6.022fee","type":"mqtt in","z":"310a9885.31aea8","name":"","topic":"sensor/ctrltemp001/repowertimeout","qos":"2","broker":"daf649eb.48aac8","x":163.6664810180664,"y":459.666615486145,"wires":[["78abbf6e.f0f3","cb947e22.3cd49"]]},{"id":"1901cbd4.803b44","type":"mqtt in","z":"310a9885.31aea8","name":"","topic":"sensor/ctrltemp001/settemp","qos":"2","broker":"daf649eb.48aac8","x":141.66641998291016,"y":555.6665391921997,"wires":[["78abbf6e.f0f3","cb947e22.3cd49"]]},{"id":"b3486f67.c75ca","type":"mqtt in","z":"310a9885.31aea8","name":"","topic":"sensor/ctrltemp001/setautopower","qos":"2","broker":"daf649eb.48aac8","x":151.66643524169922,"y":601.6665639877319,"wires":[["78abbf6e.f0f3","cb947e22.3cd49"]]},{"id":"4b776f1.ef0429","type":"mqtt in","z":"310a9885.31aea8","name":"","topic":"sensor/ctrlenergy001/defphase","qos":"2","broker":"daf649eb.48aac8","x":151.66646575927734,"y":715.6666173934937,"wires":[["7929d2a6.a3bc7c","9995135a.4febe"]]},{"id":"af6be73b.0b03a8","type":"debug","z":"310a9885.31aea8","name":"Attribute Not Defined","active":true,"console":"false","complete":"payload","x":878.6674690246582,"y":612.666985988617,"wires":[]},{"id":"78abbf6e.f0f3","type":"function","z":"310a9885.31aea8","name":"Parse Sala 1","func":"var jsonObject = JSON.parse(msg.payload);\nif(jsonObject.hasOwnProperty('settemp'))\n{\n    context.global.sala1_settemp = jsonObject.settemp;\n    context.global.sala1_settemp_min = context.global.sala1_settemp - 1;\n    context.global.sala1_settemp_max = context.global.sala1_settemp + 1;\n    msg.payload = 'settemp';\n}\nif(jsonObject.hasOwnProperty('setidle'))\n{\n    context.global.sala1_setidle = (jsonObject.setidle * 60);\n    msg.payload = 'setidle';\n}\nif(jsonObject.hasOwnProperty('repowertimeout'))\n{\n    context.global.sala1_repowertimeout = (jsonObject.repowertimeout);\n    msg.payload = 'repowertimeout';\n}\nif(jsonObject.hasOwnProperty('setautopower'))\n{\n    context.global.sala1_setautopower = (jsonObject.setautopower);\n    msg.payload = 'setautopower';\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":434.49992752075195,"y":557.9998364448547,"wires":[["9976b83.89dcb48","45a8ab97.7072d4"]]},{"id":"9976b83.89dcb48","type":"switch","z":"310a9885.31aea8","name":"Persistant Attributes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"settemp","vt":"str"},{"t":"eq","v":"setidle","vt":"str"},{"t":"eq","v":"repowertimeout","vt":"str"},{"t":"eq","v":"setautopower","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":640.666374206543,"y":558.3329439163208,"wires":[["7fb8133e.0f6e6c"],["4015d8ae.0076f8"],["3f529d24.d06c72"],["738c999c.6eb018"],["af6be73b.0b03a8"]]},{"id":"744dfe54.596f8","type":"file","z":"310a9885.31aea8","name":".txt","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/setidle.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1033.4999771118164,"y":504.9997682571411,"wires":[]},{"id":"4015d8ae.0076f8","type":"function","z":"310a9885.31aea8","name":"setidle","func":"msg.payload = context.global.sala1_setidle;\nreturn msg;","outputs":1,"noerr":0,"x":850.4998054504395,"y":504.9996871948242,"wires":[["744dfe54.596f8"]]},{"id":"3f529d24.d06c72","type":"function","z":"310a9885.31aea8","name":"repowertimeout","func":"msg.payload = context.global.sala1_repowertimeout;\nreturn msg;","outputs":1,"noerr":0,"x":879.6666374206543,"y":540.666600227356,"wires":[["dbf54c37.b4ff9"]]},{"id":"dbf54c37.b4ff9","type":"file","z":"310a9885.31aea8","name":".txt","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/repowertimeout.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1032.666591644287,"y":541.6665735244751,"wires":[]},{"id":"7929d2a6.a3bc7c","type":"function","z":"310a9885.31aea8","name":"Parse Sala 1","func":"var jsonObject = JSON.parse(msg.payload);\nif(jsonObject.hasOwnProperty('defphase'))\n{\n    context.global.sala1_defphase = jsonObject.defphase;\n    msg.payload = 'defphase';\n}\nif(jsonObject.hasOwnProperty('defvoltage'))\n{\n    context.global.sala1_defvoltage = (jsonObject.defvoltage);\n    msg.payload = 'defvoltage';\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":435.49999237060547,"y":687.9996738433838,"wires":[["40c00cbe.b69194","45a8ab97.7072d4"]]},{"id":"40c00cbe.b69194","type":"switch","z":"310a9885.31aea8","name":"Persistant Attributes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"defphase","vt":"str"},{"t":"eq","v":"defvoltage","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":646.6665420532227,"y":676.332968711853,"wires":[["eaf94e47.ecee4"],["18861831.209ec8"],["cb07e208.9fab6"]]},{"id":"cb07e208.9fab6","type":"debug","z":"310a9885.31aea8","name":"Attribute Not Defined","active":false,"console":"false","complete":"payload","x":905.6665534973145,"y":741.332968711853,"wires":[]},{"id":"eaf94e47.ecee4","type":"function","z":"310a9885.31aea8","name":"defphase","func":"msg.payload = context.global.sala1_defphase;\nreturn msg;","outputs":1,"noerr":0,"x":864.6665534973145,"y":664.332968711853,"wires":[["72e1937d.48691c"]]},{"id":"18861831.209ec8","type":"function","z":"310a9885.31aea8","name":"defvoltage","func":"msg.payload = context.global.sala1_defvoltage;\nreturn msg;","outputs":1,"noerr":0,"x":874.6665534973145,"y":702.332968711853,"wires":[["80cbc1b6.1d094"]]},{"id":"72e1937d.48691c","type":"file","z":"310a9885.31aea8","name":".txt","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/defphase.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1038.6665534973145,"y":663.332968711853,"wires":[]},{"id":"80cbc1b6.1d094","type":"file","z":"310a9885.31aea8","name":".txt","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/defvoltage.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1038.6665534973145,"y":702.332968711853,"wires":[]},{"id":"45a8ab97.7072d4","type":"debug","z":"310a9885.31aea8","name":"Debug","active":false,"console":"false","complete":"payload","x":443.83322525024414,"y":618.9997210502625,"wires":[]},{"id":"738c999c.6eb018","type":"function","z":"310a9885.31aea8","name":"setautopower","func":"msg.payload = context.global.sala1_setautopower;\nreturn msg;","outputs":1,"noerr":0,"x":880.6664276123047,"y":576.6664476394653,"wires":[["5638edcf.6a6a04"]]},{"id":"5638edcf.6a6a04","type":"file","z":"310a9885.31aea8","name":".txt","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/setautopower.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1032.6664276123047,"y":576.6664476394653,"wires":[]},{"id":"7fb8133e.0f6e6c","type":"function","z":"310a9885.31aea8","name":"settemp","func":"msg.payload = context.global.sala1_settemp;\nreturn msg;","outputs":1,"noerr":0,"x":860.6664733886719,"y":469.3330183029175,"wires":[["57716199.85d0d"]]},{"id":"57716199.85d0d","type":"file","z":"310a9885.31aea8","name":".txt","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/settemp.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1032.6669692993164,"y":469.3330183029175,"wires":[]},{"id":"cb947e22.3cd49","type":"debug","z":"310a9885.31aea8","name":"","active":true,"console":"false","complete":"false","x":435.9999198913574,"y":460.33331203460693,"wires":[]},{"id":"9995135a.4febe","type":"debug","z":"310a9885.31aea8","name":"","active":true,"console":"false","complete":"false","x":415.99991607666016,"y":734.3333024978638,"wires":[]},{"id":"231670e6.09711","type":"comment","z":"310a9885.31aea8","name":"Data Received from Thingsboard","info":"Data Received from Thingsboard as shared attributes to configure the operational parameters","x":152.83322143554688,"y":425.66660499572754,"wires":[]},{"id":"51b26bea.9bb9a4","type":"mqtt out","z":"310a9885.31aea8","name":"","topic":"sensors/connect","qos":"","retain":"","broker":"daf649eb.48aac8","x":954.8332214355469,"y":185.66660499572754,"wires":[]},{"id":"a7e0eb0f.5c51b8","type":"debug","z":"310a9885.31aea8","name":"TB Connect","active":false,"console":"false","complete":"payload","x":942.8329811096191,"y":108.66635704040527,"wires":[]},{"id":"156c1cf.e129be3","type":"function","z":"310a9885.31aea8","name":"Sala 1","func":"var msg1 = {payload:{\"serialNumber\":\"ctrltemp001\"}};\nvar msg2 = {payload:{\"serialNumber\":\"ctrlenergy001\"}};\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":734.8329467773438,"y":147.99969387054443,"wires":[["51b26bea.9bb9a4","a7e0eb0f.5c51b8"],["51b26bea.9bb9a4","a7e0eb0f.5c51b8"]]},{"id":"32ed6ac.8b8cb96","type":"inject","z":"310a9885.31aea8","name":"TB Devices","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"x":752.8329391479492,"y":81.33308982849121,"wires":[["156c1cf.e129be3"]]},{"id":"7ed02d0e.327234","type":"comment","z":"310a9885.31aea8","name":"Data Received from Sala 1 - Ctrl Temp ","info":"","x":168.83322143554688,"y":33.66660499572754,"wires":[]},{"id":"a58a191c.849ce8","type":"function","z":"c519db9d.a65dd8","name":"Control Temp 001 Param","func":"PythonPostParam=(context.global.Sala1_tempDevice+\" \"+context.global.Sala1_temp+\" \"+context.global.Sala1_humi+\" \"+context.global.Sala1_presDetected);\nmsg.payload = PythonPostParam;\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["d6672578.d800b8","b1fcbc74.8fc8b"]]},{"id":"9abbfd0f.3f948","type":"inject","z":"c519db9d.a65dd8","name":"Publish","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":539.1668300628662,"y":377.33348751068115,"wires":[["9a928edf.c01c","a58a191c.849ce8"]]},{"id":"b1fcbc74.8fc8b","type":"delay","z":"c519db9d.a65dd8","name":"Sync Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"4","randomUnits":"seconds","drop":false,"x":804.0000953674316,"y":300.0000400543213,"wires":[["127f38b.44ebdc7"]]},{"id":"d6672578.d800b8","type":"debug","z":"c519db9d.a65dd8","name":"","active":true,"console":"false","complete":"false","x":757.3333892822266,"y":374.0002336502075,"wires":[]},{"id":"9a928edf.c01c","type":"function","z":"c519db9d.a65dd8","name":"Control Energy 001 Param","func":"PythonPostParam=(context.global.Sala1_energyDev1+\" \"+context.global.Sala1_Cond1_Status+\" \"+parseInt(context.global.Sala1_Cond1_Power_Fase1)+\" \"+parseInt(context.global.Sala1_Cond1_Power_Fase2)+\" \"+parseInt(context.global.Sala1_Cond1_Power_Fase3));\nmsg.payload = PythonPostParam;\nreturn msg;\n","outputs":1,"noerr":0,"x":572.166820526123,"y":455.3336696624756,"wires":[["d6672578.d800b8","732a0560.a3aeac"]]},{"id":"732a0560.a3aeac","type":"delay","z":"c519db9d.a65dd8","name":"Sync Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"2","randomLast":"5","randomUnits":"seconds","drop":false,"x":802.1667594909668,"y":455.3334255218506,"wires":[["a6da5575.d043f8"]]},{"id":"69061ca2.5d9844","type":"function","z":"c519db9d.a65dd8","name":"Phase 1","func":"msg.payload = context.global.Sala1_Cond1_Power_Fase1;\nreturn msg;","outputs":1,"noerr":0,"x":323.16638946533203,"y":377.33336639404297,"wires":[["3fec2378.c749ec"]]},{"id":"1fdc15da.a094aa","type":"inject","z":"c519db9d.a65dd8","name":"Change?","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":130.16634368896484,"y":417.3332414627075,"wires":[["69061ca2.5d9844","38c3b8d0.85a488","94178ab5.1707b8","84509642.b4e178","c8493948.0e6958","c6b8b71d.590868","2d45139a.a4f40c"]]},{"id":"3fec2378.c749ec","type":"rbe","z":"c519db9d.a65dd8","name":" Detected?","func":"rbe","gap":"","start":"","inout":"out","x":335.16633224487305,"y":414.66660594940186,"wires":[["9a928edf.c01c"]]},{"id":"38c3b8d0.85a488","type":"function","z":"c519db9d.a65dd8","name":"Temperature?","func":"msg.payload = context.global.Sala1_temp;\nreturn msg;","outputs":1,"noerr":0,"x":344.1663627624512,"y":225.3332986831665,"wires":[["f10ee42f.773808"]]},{"id":"f10ee42f.773808","type":"rbe","z":"c519db9d.a65dd8","name":" Detected?","func":"rbe","gap":"1","start":"","inout":"in","x":336.1664047241211,"y":263.3333444595337,"wires":[["a58a191c.849ce8"]]},{"id":"22ad8eec.426322","type":"comment","z":"c519db9d.a65dd8","name":"Publish to Thingsboard - Immediate if Temperature, Movement or Power Changes Detected","info":"","x":562.1664199829102,"y":65.33329963684082,"wires":[]},{"id":"94178ab5.1707b8","type":"function","z":"c519db9d.a65dd8","name":"Phase 2","func":"msg.payload = context.global.Sala1_Cond1_Power_Fase2;\nreturn msg;","outputs":1,"noerr":0,"x":322.1663017272949,"y":453.3332633972168,"wires":[["5b5bf5b1.0d422c"]]},{"id":"5b5bf5b1.0d422c","type":"rbe","z":"c519db9d.a65dd8","name":" Detected?","func":"rbe","gap":"","start":"","inout":"out","x":334.16624450683594,"y":490.6665029525757,"wires":[["9a928edf.c01c"]]},{"id":"9fa917b1.f688e8","type":"rbe","z":"c519db9d.a65dd8","name":" Detected?","func":"rbe","gap":"1","start":"","inout":"in","x":335.9999694824219,"y":335.99998664855957,"wires":[["a58a191c.849ce8"]]},{"id":"127f38b.44ebdc7","type":"link out","z":"c519db9d.a65dd8","name":"Sala 1 - Temp","links":["4565c073.866e1"],"x":925.1668529510498,"y":299.6667070388794,"wires":[]},{"id":"a6da5575.d043f8","type":"link out","z":"c519db9d.a65dd8","name":"Sala 1 - Energy","links":["5eff41ab.6243"],"x":925.1668472290039,"y":454.6666793823242,"wires":[]},{"id":"c8493948.0e6958","type":"function","z":"c519db9d.a65dd8","name":"Motion?","func":"msg.payload = context.global.Sala1_presDetected;\nreturn msg;","outputs":1,"noerr":0,"x":325.9999351501465,"y":297.99993801116943,"wires":[["9fa917b1.f688e8"]]},{"id":"84509642.b4e178","type":"function","z":"c519db9d.a65dd8","name":"onoff","func":"msg.payload = context.global.Sala1_Cond1_Status;\nreturn msg;","outputs":1,"noerr":0,"x":322.0000114440918,"y":618.0000886917114,"wires":[["d4d5d5bd.25cd98"]]},{"id":"d4d5d5bd.25cd98","type":"rbe","z":"c519db9d.a65dd8","name":" Detected?","func":"rbe","gap":"","start":"","inout":"out","x":330.0000114440918,"y":660.0000886917114,"wires":[["9a928edf.c01c"]]},{"id":"c6b8b71d.590868","type":"function","z":"c519db9d.a65dd8","name":"Phase 3","func":"msg.payload = context.global.Sala1_Cond1_Power_Fase3;\nreturn msg;","outputs":1,"noerr":0,"x":327.9999313354492,"y":529.9999284744263,"wires":[["ecb9fdf5.fa07e"]]},{"id":"ecb9fdf5.fa07e","type":"rbe","z":"c519db9d.a65dd8","name":" Detected?","func":"rbe","gap":"","start":"","inout":"out","x":329.9999313354492,"y":575.9999284744263,"wires":[["9a928edf.c01c"]]},{"id":"2d45139a.a4f40c","type":"function","z":"c519db9d.a65dd8","name":"CPU Temp?","func":"msg.payload = context.global.uCC_temp;\nreturn msg;","outputs":1,"noerr":0,"x":337.9999694824219,"y":143.99995708465576,"wires":[["3270a3dd.f911bc"]]},{"id":"3270a3dd.f911bc","type":"rbe","z":"c519db9d.a65dd8","name":" Detected?","func":"rbe","gap":"1","start":"","inout":"in","x":337.99999237060547,"y":183.99996089935303,"wires":[["dd6dca4e.83f548"]]},{"id":"dd6dca4e.83f548","type":"function","z":"c519db9d.a65dd8","name":"OpenWeather Post CPU","func":"PythonPostParam=(context.global.uCCReboucas+\" \"+context.global.citytemp+\" \"+context.global.cityhumi+\" \"+context.global.uCC_temp);\nmsg.payload = PythonPostParam;\nreturn msg;","outputs":1,"noerr":0,"x":563.9999313354492,"y":183.99992847442627,"wires":[["aa0a8401.2a6168"]]},{"id":"aa0a8401.2a6168","type":"delay","z":"c519db9d.a65dd8","name":"Sync Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"4","randomUnits":"seconds","drop":false,"x":798.9999313354492,"y":183.99992847442627,"wires":[["e81edc35.d4e2e"]]},{"id":"e81edc35.d4e2e","type":"link out","z":"c519db9d.a65dd8","name":"Sala 1 - Temp","links":["cb6ead4b.a1798"],"x":920.1666889190674,"y":183.66659545898438,"wires":[]},{"id":"4b7b1457.8f4e5c","type":"inject","z":"2d6623ca.88a23c","name":"Scanning...","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":170,"y":180,"wires":[["2ee7e4b3.71967c","95ba0710.037b38","8b6b9e9e.ee4db","40b5e54f.b3159c","f505548e.a3b0a8"]]},{"id":"dc6e9d64.3c0f","type":"function","z":"2d6623ca.88a23c","name":"Cond 1 Ligado?","func":"if((context.global.Sala1_Cond1_Power_Fase1 >= 40) || (context.global.Sala1_Cond1_Power_Fase2 >= 40))\n{\n   context.global.Sala1_Cond1_Status = true;\n   msg.payload = 'Sala1 Cond1 Ligado';\n}\nelse if(context.global.sala1_setautopower === true)\n{\n   context.global.Sala1_Cond1_Status = true;\n   msg.payload = 'Sala1 Cond1 Sendo Ligado...';\n   context.global.Sala1_IR_CMD = \"med\";\n} \nelse\n{\n   msg.payload = 'Sala1 Cond1 setautopower false...'; \n}\nreturn msg;","outputs":1,"noerr":0,"x":380.0000686645508,"y":48.666680335998535,"wires":[["8372849b.0d3d98"]]},{"id":"e280aed9.497c3","type":"debug","z":"2d6623ca.88a23c","name":"Ctrl de Temp Sala 1","active":false,"console":"false","complete":"payload","x":637.0003547668457,"y":204.33333683013916,"wires":[]},{"id":"2ee7e4b3.71967c","type":"function","z":"2d6623ca.88a23c","name":"Ctrl de Temperatura","func":"if (context.global.Sala1_Cond1_Status === true)\n{\n    if(context.global.Sala1_temp > context.global.sala1_settemp)\n    {\n        if(context.global.Sala1_IR_CMD != \"min\");\n        {\n        context.global.Sala1_IR_CMD = \"min\";\n        }\n    }\n}\n//\nif (context.global.Sala1_Cond1_Status === true)\n{\n    if(context.global.Sala1_temp == context.global.sala1_settemp)\n    {\n        if(context.global.Sala1_IR_CMD != \"med\");\n        {\n        context.global.Sala1_IR_CMD = \"med\";\n        }\n    }\n}\n//\nif (context.global.Sala1_Cond1_Status === true)\n{\n    if(context.global.Sala1_temp < context.global.sala1_settemp)\n    {\n        if(context.global.Sala1_IR_CMD != \"max\");\n        {\n        context.global.Sala1_IR_CMD = \"max\";\n        }\n    }\n}\nmsg.payload = context.global.Sala1_IR_CMD;\nreturn msg;","outputs":1,"noerr":0,"x":398.0000686645508,"y":204.6666717529297,"wires":[["e280aed9.497c3"]]},{"id":"8372849b.0d3d98","type":"debug","z":"2d6623ca.88a23c","name":"Debug","active":false,"console":"false","complete":"payload","x":594.8334007263184,"y":48.666619300842285,"wires":[]},{"id":"34eac5db.6d26ca","type":"mqtt in","z":"2d6623ca.88a23c","name":"Sala 1 - Presence","topic":"/ucc/infrared/sensor1/motion","qos":"2","broker":"23e2e89f.af8e48","x":168.8332290649414,"y":85.66661739349365,"wires":[["de0ffa57.0dc9a8"]]},{"id":"bccd86a3.9f9258","type":"debug","z":"2d6623ca.88a23c","name":"Debug","active":false,"console":"false","complete":"payload","x":595.8334846496582,"y":85.00006675720215,"wires":[]},{"id":"de0ffa57.0dc9a8","type":"function","z":"2d6623ca.88a23c","name":"Presence_Time_Set","func":"context.global.Sala1_pres = msg.payload;\nif(context.global.Sala1_pres == \"Sala COM Movimento!\")\n{\n    context.global.Sala1_presDetected = true;\n    context.global.Sala1_presDetected_Time = Date.now();\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":399.8332290649414,"y":85.66661739349365,"wires":[["bccd86a3.9f9258"]]},{"id":"95ba0710.037b38","type":"function","z":"2d6623ca.88a23c","name":"Presence_Timer_Control","func":"context.global.Sala1_presDetected_Elapsed = parseInt(Math.abs(Date.now() - context.global.Sala1_presDetected_Time)/1000);\nif(context.global.Sala1_presDetected_Elapsed >= context.global.sala1_setidle)\n{\n    context.global.Sala1_presDetected = \"false\";\n    context.global.Sala1_IR_CMD = \"off\";\n}\nmsg.payload = context.global.Sala1_presDetected_Elapsed;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":408.8333206176758,"y":126.66661739349365,"wires":[["139d2bbe.339eb4"]]},{"id":"139d2bbe.339eb4","type":"debug","z":"2d6623ca.88a23c","name":"presence Sala 1","active":false,"console":"false","complete":"payload","x":625.8333778381348,"y":126.66661643981934,"wires":[]},{"id":"f3784cf3.0c0a8","type":"mqtt out","z":"2d6623ca.88a23c","name":"Send to Sala 1","topic":"/ucc/control/infrared/command","qos":"","retain":"","broker":"23e2e89f.af8e48","x":932.8339424133301,"y":247.66678428649902,"wires":[]},{"id":"8b6b9e9e.ee4db","type":"function","z":"2d6623ca.88a23c","name":"IR_CMD - Monitor Only","func":"msg.payload = context.global.Sala1_IR_CMD;\nreturn msg;","outputs":1,"noerr":0,"x":407.99999237060547,"y":242.6666374206543,"wires":[["d5b76390.a07ab","750a573.6fd1ea8"]]},{"id":"304edac9.c7b036","type":"debug","z":"2d6623ca.88a23c","name":"Debug","active":true,"console":"false","complete":"payload","x":911.8341102600098,"y":326.6667900085449,"wires":[]},{"id":"d5b76390.a07ab","type":"rbe","z":"2d6623ca.88a23c","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","x":612.0002670288086,"y":288.6666660308838,"wires":[["6e09a171.82ca8"]]},{"id":"40b5e54f.b3159c","type":"function","z":"2d6623ca.88a23c","name":"RePower_Timer_Control","func":"context.global.Sala1_repower_Elapsed = parseInt(Math.abs(Date.now() - context.global.Sala1_offtimer)/1000);\n//\nif(context.global.Sala1_repower_Elapsed >= context.global.sala1_repowertimeout)\n{\n    context.global.Sala1_repower_Elapsed = context.global.sala1_repowertimeout;\n    context.global.Sala1_IR_CMD = \"med\";\n}\n//\nmsg.payload = context.global.Sala1_repower_Elapsed;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":408.8332977294922,"y":166.666654586792,"wires":[["8da09a44.c3d938"]]},{"id":"8da09a44.c3d938","type":"debug","z":"2d6623ca.88a23c","name":"repower Sala 1","active":false,"console":"false","complete":"payload","x":625.8332939147949,"y":166.66659545898438,"wires":[]},{"id":"6e09a171.82ca8","type":"function","z":"2d6623ca.88a23c","name":"IR Command","func":"// med is equal to the confort temperature, we will define 1 degree up and one down to control the temperature\nif(msg.payload == 'med')\n{\n    msg.payload = 'ucon24';\n    context.global.Sala1_Cond1_Status = true;\n}\nelse if (msg.payload == 'off')\n{\n    msg.payload = 'ucoff24';\n    context.global.Sala1_offtimer = Date.now();\n    context.global.Sala1_presDetected = false;\n    context.global.Sala1_Cond1_Status = false;\n}\nelse if (msg.payload == 'min')\n{\n    msg.payload = 'ucdownto23';\n}\nelse if (msg.payload == 'max')\n{\n    msg.payload = 'ucupto25';\n}\nreturn msg;","outputs":1,"noerr":0,"x":772.0000915527344,"y":288.66656398773193,"wires":[["304edac9.c7b036","f3784cf3.0c0a8"]]},{"id":"750a573.6fd1ea8","type":"debug","z":"2d6623ca.88a23c","name":"Debug","active":false,"console":"false","complete":"payload","x":599.9999465942383,"y":242.3332920074463,"wires":[]},{"id":"bd6bc037.970d","type":"function","z":"2d6623ca.88a23c","name":"Variables","func":"// Sala1 Parameters\ncontext.global.Sala1_tempDevice = 'ctrltemp001';\ncontext.global.Sala1_energyDev1 = 'ctrlenergy001';\ncontext.global.uCCReboucas = 'uCCReboucas';\n//\ncontext.global.Sala1_Cond1_Power_Fase1 = 0;\ncontext.global.Sala1_Cond1_Power_Fase2 = 0;\ncontext.global.Sala1_Cond1_Power_Fase3 = 0;\n//\ncontext.global.Sala1_presDetected_Time = Date.now();\ncontext.global.Sala1_offtimer = Date.now();\n//\nreturn msg;","outputs":1,"noerr":0,"x":320.83313369750977,"y":394.66658782958984,"wires":[["863ef72.9776308"]]},{"id":"8f15522e.98129","type":"inject","z":"2d6623ca.88a23c","name":"Init ","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":154.66643905639648,"y":527.6665029525757,"wires":[["22d5144.b7211ec","46b7334d.34c62c","5b6905b2.8c186c","b5293dea.39049","d7b44506.2c1658","bd6bc037.970d","f2133125.fa721"]]},{"id":"863ef72.9776308","type":"debug","z":"2d6623ca.88a23c","name":"Debug","active":false,"console":"false","complete":"payload","x":456.6665954589844,"y":394.66674995422363,"wires":[]},{"id":"6907dc5b.1a2f24","type":"function","z":"2d6623ca.88a23c","name":"settemp ","func":"context.global.sala1_settemp = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":519.8331832885742,"y":458.99951553344727,"wires":[["d39cb49b.77ad98"]]},{"id":"22d5144.b7211ec","type":"file in","z":"2d6623ca.88a23c","name":"Retrieve ","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/settemp.txt","format":"utf8","x":320.8328666687012,"y":459.3326072692871,"wires":[["6907dc5b.1a2f24"]]},{"id":"a44d3be2.bd3ef8","type":"function","z":"2d6623ca.88a23c","name":"setidle","func":"context.global.sala1_setidle = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":530.6664352416992,"y":493.6662244796753,"wires":[["d39cb49b.77ad98"]]},{"id":"46b7334d.34c62c","type":"file in","z":"2d6623ca.88a23c","name":"Retrieve ","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/setidle.txt","format":"utf8","x":321.6661682128906,"y":493.66590118408203,"wires":[["a44d3be2.bd3ef8"]]},{"id":"d39cb49b.77ad98","type":"debug","z":"2d6623ca.88a23c","name":"Debug","active":true,"console":"false","complete":"payload","x":692.666576385498,"y":551.6662292480469,"wires":[]},{"id":"f895e6d7.e2d3d8","type":"function","z":"2d6623ca.88a23c","name":"repowertimeout","func":"context.global.sala1_repowertimeout = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":499.83314514160156,"y":527.6665935516357,"wires":[["d39cb49b.77ad98"]]},{"id":"5b6905b2.8c186c","type":"file in","z":"2d6623ca.88a23c","name":"Retrieve ","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/repowertimeout.txt","format":"utf8","x":321.83295822143555,"y":527.6663665771484,"wires":[["f895e6d7.e2d3d8"]]},{"id":"b5293dea.39049","type":"file in","z":"2d6623ca.88a23c","name":"Retrieve ","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/defphase.txt","format":"utf8","x":322.83313751220703,"y":562.3329391479492,"wires":[["cc060953.92bf58"]]},{"id":"d7b44506.2c1658","type":"file in","z":"2d6623ca.88a23c","name":"Retrieve ","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/defvoltage.txt","format":"utf8","x":322.83313751220703,"y":596.3329391479492,"wires":[["d644cf3b.57dbf"]]},{"id":"cc060953.92bf58","type":"function","z":"2d6623ca.88a23c","name":"defphase","func":"context.global.sala1_defphase = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":519.833137512207,"y":562.3329391479492,"wires":[["d39cb49b.77ad98"]]},{"id":"d644cf3b.57dbf","type":"function","z":"2d6623ca.88a23c","name":"defvoltage","func":"context.global.sala1_defvoltage = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":509.83313751220703,"y":596.3329391479492,"wires":[["d39cb49b.77ad98"]]},{"id":"f2133125.fa721","type":"file in","z":"2d6623ca.88a23c","name":"Retrieve ","filename":"/home/pi/JGouy_Files/UnderControl/Sala1_Attributes/setautopower.txt","format":"utf8","x":324.6664390563965,"y":630.6665878295898,"wires":[["267eede5.a19b22"]]},{"id":"267eede5.a19b22","type":"function","z":"2d6623ca.88a23c","name":"setautopower","func":"context.global.sala1_setautopower = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":499.6664390563965,"y":630.6665878295898,"wires":[["d39cb49b.77ad98"]]},{"id":"c1dbdecd.08185","type":"inject","z":"2d6623ca.88a23c","name":"Test ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":776.8336372375488,"y":388.6667308807373,"wires":[["93993ac2.43d018"]]},{"id":"b88001c9.81b61","type":"function","z":"2d6623ca.88a23c","name":"IR CMD OFF","func":"msg.payload = 'ucoff24';\nreturn msg;","outputs":1,"noerr":0,"x":925.0003967285156,"y":424.66677474975586,"wires":[["6e09a171.82ca8"]]},{"id":"93993ac2.43d018","type":"function","z":"2d6623ca.88a23c","name":"IR CMD ON","func":"msg.payload = 'ucon24';\nreturn msg;","outputs":1,"noerr":0,"x":922.8335647583008,"y":388.66669178009033,"wires":[["6e09a171.82ca8"]]},{"id":"d6cd77ef.0a8a68","type":"inject","z":"2d6623ca.88a23c","name":"Test ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":777.833438873291,"y":424.66662979125977,"wires":[["b88001c9.81b61"]]},{"id":"29464e0d.7ee8c2","type":"inject","z":"2d6623ca.88a23c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":337.99981689453125,"y":707.999942779541,"wires":[["c0757c2e.eeffb"]]},{"id":"3c866d4.971b392","type":"debug","z":"2d6623ca.88a23c","name":"","active":true,"console":"false","complete":"false","x":691.9998168945312,"y":709.3332757949829,"wires":[]},{"id":"c0757c2e.eeffb","type":"function","z":"2d6623ca.88a23c","name":"Sala1_offtimer","func":"msg.payload = context.global.Sala1_offtimer;\nreturn msg;","outputs":1,"noerr":0,"x":505.9998016357422,"y":708.6665668487549,"wires":[["3c866d4.971b392"]]},{"id":"f505548e.a3b0a8","type":"function","z":"2d6623ca.88a23c","name":"Presence_Time_Set Monitor","func":"if(context.global.Sala1_pres == \"Sala COM Movimento!\")\n{\n    context.global.Sala1_presDetected = true;\n    context.global.Sala1_presDetected_Time = Date.now();\n    msg.payload = \"Presence Timer Reset...\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":418.83323669433594,"y":318.6666679382324,"wires":[["7b9a197e.d04c28"]]},{"id":"7b9a197e.d04c28","type":"debug","z":"2d6623ca.88a23c","name":"presense reset","active":false,"console":"false","complete":"payload","x":632.0000152587891,"y":349.33337688446045,"wires":[]},{"id":"5f41bc36.ea1ae4","type":"exec","z":"898200f5.f78fc","command":"python /home/pi/JGouy_Files/UnderControl/Estacio/ctrlTemp/UCC_MQTT_Publish_Telemetry_New_v1.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Publish Control Temp","x":340,"y":280,"wires":[["45094825.320bd8"],["45094825.320bd8"],["45094825.320bd8"]]},{"id":"abf4625a.a88ad","type":"debug","z":"898200f5.f78fc","name":"Ctrl Energy Telemetry","active":false,"console":"false","complete":"payload","x":586.0003814697266,"y":332.0001621246338,"wires":[]},{"id":"58643e5a.e3d2c","type":"exec","z":"898200f5.f78fc","command":"python /home/pi/JGouy_Files/UnderControl/Estacio/ctrlEnergy/UCC_MQTT_Publish_Telemetry_New_v1.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Publish Control Energy","x":340.16641998291016,"y":333.3334217071533,"wires":[["abf4625a.a88ad"],["abf4625a.a88ad"],["abf4625a.a88ad"]]},{"id":"c7635425.6f0568","type":"link in","z":"898200f5.f78fc","name":"Control Temp","links":["bd5a68b0.50f7e8"],"x":195.16665744781494,"y":279.33335304260254,"wires":[[]]},{"id":"5af13f4c.abbb5","type":"link in","z":"898200f5.f78fc","name":"Control Energy","links":["3c8b5572.62e72a"],"x":197.16667938232422,"y":333.33340072631836,"wires":[[]]},{"id":"67a56d34.050754","type":"exec","z":"898200f5.f78fc","command":"python /home/pi/JGouy_Files/UnderControl/Estacio/ctrlTemp/UCC_MQTT_Publish_Telemetry_EXT_New_v1.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Publish External Temp & Humidity","x":379.99999237060547,"y":387.9999933242798,"wires":[["210b71e5.0c0ace"],["210b71e5.0c0ace"],["210b71e5.0c0ace"]]},{"id":"210b71e5.0c0ace","type":"debug","z":"898200f5.f78fc","name":"Post External Telemetry","active":false,"console":"false","complete":"payload","x":665.1662673950195,"y":386.6664934158325,"wires":[]},{"id":"8d49b65d.8ebb98","type":"link in","z":"898200f5.f78fc","name":"External Data","links":["40bf5ec3.effae","ec28d0cf.92e1d"],"x":197.1666774749756,"y":388.3333501815796,"wires":[[]]},{"id":"45094825.320bd8","type":"debug","z":"898200f5.f78fc","name":"Ctrl Temp Telemetry","active":false,"console":"false","complete":"payload","x":589.9999313354492,"y":277.99991512298584,"wires":[]},{"id":"8494bf01.ab3d6","type":"exec","z":"cde10b03.646e38","command":"python /home/pi/JGouy_Files/UnderControl/OpenWeather_v3.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Get Weather Cond & Time","x":220,"y":380,"wires":[["f549b4.cd04765","b01a8b55.3e01c8","c0742007.fbecf","51b70474.107c7c","384fc947.bb64e6"],["cf4eafd1.625c1"],["cf4eafd1.625c1"]]},{"id":"a7c2bf29.8a364","type":"debug","z":"cde10b03.646e38","name":"Results","active":false,"console":"false","complete":"payload","x":679.0001354217529,"y":366.1666307449341,"wires":[]},{"id":"f549b4.cd04765","type":"function","z":"cde10b03.646e38","name":"City_Name","func":"var jsonObject = JSON.parse(msg.payload);\nmsg.payload =  jsonObject.cityname;\nreturn msg;\n","outputs":1,"noerr":0,"x":483.00020599365234,"y":297.83337211608887,"wires":[["a7c2bf29.8a364"]]},{"id":"b01a8b55.3e01c8","type":"function","z":"cde10b03.646e38","name":"Temp_City","func":"var jsonObject = JSON.parse(msg.payload);\nvar temp =  jsonObject.temp;\ncontext.global.citytemp = parseInt(temp);\nmsg.payload = context.global.citytemp;\nreturn msg;","outputs":1,"noerr":0,"x":484.50012588500977,"y":402.4998416900635,"wires":[["a7c2bf29.8a364"]]},{"id":"c0742007.fbecf","type":"function","z":"cde10b03.646e38","name":"Cond_City","func":"var jsonObject = JSON.parse(msg.payload);\nmsg.payload =  jsonObject.condition;\nreturn msg;\n","outputs":1,"noerr":0,"x":484.5002098083496,"y":332.5000343322754,"wires":[["a7c2bf29.8a364"]]},{"id":"51b70474.107c7c","type":"function","z":"cde10b03.646e38","name":"Humi_City","func":"var jsonObject = JSON.parse(msg.payload);\nvar humi =  jsonObject.humidity;\ncontext.global.cityhumi = parseFloat(humi);\nmsg.payload = context.global.cityhumi;\nreturn msg;\n","outputs":1,"noerr":0,"x":487.00020599365234,"y":437.1668004989624,"wires":[["a7c2bf29.8a364","d448893c.dc1668"]]},{"id":"384fc947.bb64e6","type":"function","z":"cde10b03.646e38","name":"Date_City","func":"var jsonObject = JSON.parse(msg.payload);\nmsg.payload =  jsonObject.dateTime;\nreturn msg;\n","outputs":1,"noerr":0,"x":493.0000419616699,"y":367.1666259765625,"wires":[["a7c2bf29.8a364"]]},{"id":"8a370ac9.b37cb8","type":"http request","z":"cde10b03.646e38","name":"GET IP Location","method":"GET","ret":"obj","url":"http://ip-api.com/json","tls":"","x":175,"y":237.1666784286499,"wires":[["ade9313e.71ff2"]]},{"id":"d777910c.f55bf","type":"function","z":"cde10b03.646e38","name":"City_Location","func":"var jsonObject = JSON.parse(msg.payload);\nvar cityname = jsonObject.city;\nvar region = jsonObject.region;\nmsg.payload =  \"'\"+cityname+ \" \" + region + \"'\";\nreturn msg;\n","outputs":1,"noerr":0,"x":176.4999237060547,"y":333.16666316986084,"wires":[["10c24e57.dfeba2"]]},{"id":"ade9313e.71ff2","type":"json","z":"cde10b03.646e38","name":"as a JSON Obj","x":177.49993896484375,"y":280.5000524520874,"wires":[["d777910c.f55bf"]]},{"id":"cf4eafd1.625c1","type":"debug","z":"cde10b03.646e38","name":"Error Msg","active":false,"console":"false","complete":"payload","x":160.1667022705078,"y":443.8333377838135,"wires":[]},{"id":"ca5a59b2.229648","type":"inject","z":"cde10b03.646e38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":460,"y":120,"wires":[["fe11c3d3.6e4d1"]]},{"id":"fe11c3d3.6e4d1","type":"function","z":"cde10b03.646e38","name":"Today's Weekday and Time","func":"var d = new Date();\nvar weekday = new Array(7);\nweekday[0] =  \"Sunday\";\nweekday[1] = \"Monday\";\nweekday[2] = \"Tuesday\";\nweekday[3] = \"Wednesday\";\nweekday[4] = \"Thursday\";\nweekday[5] = \"Friday\";\nweekday[6] = \"Saturday\";\n//\nvar d = new Date();\nvar n = d.getHours();\nvar m = d.getMinutes();\n//\nmsg.payload = (weekday[d.getDay()]+\" \"+ n + \":\" + m);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":164.00002479553223,"wires":[["10c24e57.dfeba2"]]},{"id":"10c24e57.dfeba2","type":"debug","z":"cde10b03.646e38","name":"","active":false,"console":"false","complete":"false","x":472,"y":206.66671752929688,"wires":[]},{"id":"91f26901.5526c8","type":"inject","z":"cde10b03.646e38","name":"Trigger","topic":"","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"x":154.9999237060547,"y":153.16655731201172,"wires":[["fb89cf03.37e24"]]},{"id":"fb89cf03.37e24","type":"delay","z":"cde10b03.646e38","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":168.16661834716797,"y":197.833233833313,"wires":[["8a370ac9.b37cb8"]]},{"id":"6e614e04.50d9b","type":"comment","z":"cde10b03.646e38","name":"Local Weather and Common Attributes","info":"","x":232.9998321533203,"y":91.16652870178223,"wires":[]},{"id":"d448893c.dc1668","type":"function","z":"cde10b03.646e38","name":"OpenWeather Post Parameters","func":"PythonPostParam=(context.global.uCCReboucas+\" \"+context.global.citytemp+\" \"+context.global.cityhumi+\" \"+context.global.uCC_temp);\nmsg.payload = PythonPostParam;\nreturn msg;","outputs":1,"noerr":0,"x":729.9999694824219,"y":436.1667184829712,"wires":[["8f0a842f.b6a578","47c4bf73.23e98"]]},{"id":"8f0a842f.b6a578","type":"delay","z":"cde10b03.646e38","name":"Sync Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"3","randomUnits":"seconds","drop":false,"x":859.0003890991211,"y":502.1669225692749,"wires":[["aac80028.efb29"]]},{"id":"aac80028.efb29","type":"link out","z":"cde10b03.646e38","name":"OpenWeather","links":["cb6ead4b.a1798"],"x":968.166980266571,"y":501.8334665298462,"wires":[]},{"id":"1546043c.c72b5c","type":"exec","z":"cde10b03.646e38","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"Get Pi CPU Temp","x":189.00003051757812,"y":571.1665649414062,"wires":[["55cb2a36.6cf254"],["63e7a714.f35388"],["63e7a714.f35388"]]},{"id":"cc2428be.be0408","type":"inject","z":"cde10b03.646e38","name":"Read Rate","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"x":167.00003051757812,"y":494.66651916503906,"wires":[["1546043c.c72b5c"]]},{"id":"55cb2a36.6cf254","type":"function","z":"cde10b03.646e38","name":"Conv to Temp","func":"var str1 = msg.payload;\nvar res = str1.replace(\"temp=\", \"\");\nmsg.payload = res;\nvar str2  = msg.payload;\nvar temp = str2.replace(\"'C\", \"\");\nvar tempnum = parseFloat(temp);\ncontext.global.uCC_temp = parseInt(tempnum);\nmsg.payload = context.global.uCC_temp;\nreturn msg;","outputs":1,"noerr":0,"x":388.0000305175781,"y":558.1665649414062,"wires":[["5447a1da.4c303"]]},{"id":"5447a1da.4c303","type":"debug","z":"cde10b03.646e38","name":"Temp","active":false,"console":"false","complete":"payload","x":554.0000610351562,"y":558.1666479110718,"wires":[]},{"id":"63e7a714.f35388","type":"debug","z":"cde10b03.646e38","name":"Error","active":false,"console":"false","complete":"payload","x":361.00003814697266,"y":599.1665639877319,"wires":[]},{"id":"47c4bf73.23e98","type":"debug","z":"cde10b03.646e38","name":"Post Parameters","active":true,"console":"false","complete":"payload","x":880.1668243408203,"y":371.83323526382446,"wires":[]}]